@use '../../styles/variables' as *;

.about {
  position: relative;
  display: flex;
  flex-flow: wrap-reverse;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
  }

  &BGText {
    position: absolute;
    z-index: -10;
    justify-self: end;
    top: 0;
    right: 0;

    @media (min-width: $breakpoint-md) {
      bottom: -3rem;
    }

    span {
      font-family: $font-family-script;
      color: $transparent-accent;
      font-size: 35vh;
      line-height: 0.75;
      text-align: right;
      display: block;

      @media (min-width: $breakpoint-md) {
        font-size: 60vh;
      }
    }
  }

  &Image {
    position: relative;
    display: flex;
    align-self: end;
    height: 380px;
    width: 380px;

    @media (min-width: $breakpoint-md) {
      height: 300px;
      width: 300px;
    }
    @media (min-width: $breakpoint-lg) {
      height: 450px;
      width: 450px;
    }

    img {
      height: auto;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -10;
      height: 100%;
      width: 100%;
      left: -5rem;
      background-color: $color-accent;
      border-radius: 100%;
    }
  }

  &Content {
    width: 100%;
    padding: 25px;

    @media (min-width: $breakpoint-md) {
      padding: 50px 10% 50px 0;
    }

    h2 {
      font-size: 1.5rem;
      margin: 2rem 0;
      color: $color-primary-title;

      @media (min-width: $breakpoint-md) {
        font-size: 2rem;
      }

      @media (min-width: $breakpoint-lg) {
        font-size: 3rem;
      }
    }

    p {
      margin: 1rem 0;
      color: $color-primary-text;
      line-height: 1.5rem;
    }
  }
}
