@use '../../../styles/variables' as *;

.nav {
  display: flex;
  margin-left: auto;

  &Button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .navList {
    background-color: $transparent-background;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    z-index: 1000;

    @media (min-width: $breakpoint-lg) {
      display: none;
    }
  }
}

.burger {
  cursor: pointer;
  display: block;
  width: 40px;

  @media (min-width: $breakpoint-lg) {
    display: none;
  }

  div {
    background-color: $color-accent-light;
    border-radius: $radius-xl;
    box-shadow: $element-shadow-4;
    height: 4px;
    transition: all 0.25s cubic-bezier(0.6, 0.13, 0.32, 1.46);
  }

  &One,
  &Two,
  &Three {
    margin-bottom: 8px;
  }

  /* Burger transform when open */
  &OneOpen {
    transform-origin: left;
    transform: translate(14%, -10px) rotate(45deg);
    box-shadow: $element-shadow-25;
  }

  &TwoOpen {
    background-color: transparent;
    box-shadow: none;
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }

  &ThreeOpen {
    transform-origin: left;
    transform: translate(14%, 2px) rotate(-45deg);
    box-shadow: $element-shadow-25;
  }
}

.menuOpen {
  transform: scale(1, 1);
}

.navItems {
  font-family: $font-family-secondary;
  display: block;
  padding-inline-start: 0;
  padding-block-start: $spacing-sm;
  padding-block-end: $spacing-sm;

  @media (min-width: $breakpoint-lg) {
    display: flex;
    gap: $spacing-lg;
    color: $color-accent-light;
    font-weight: $font-weight-light3;
  }

  li {
    list-style: none;
    min-width: 100px;
    text-align: center;
    margin: $spacing-lg 0;

    a {
      text-decoration: none;
      color: $color-accent-light;

      @media (min-width: $breakpoint-lg) {
        &:hover {
          color: $color-accent;
        }
      }
    }

    &:last-child a {
      color: $color-accent-two;

      &:hover {
        color: $color-accent-two;
        font-weight: $font-weight-bold;
      }
    }
  }
}
