@use '../../../styles/variables' as *;

:root {
  --loli-dark: #{$loli-dark};
  --loli-light: #{$loli-light};
  --loli-accent: #{$loli-cherry};
  --loli-accent2: #{$loli-drk-cherry};
  --loli-shadow: #{$loli-shadow};
}

.loliware {
  overflow: hidden;
  font-family: $font-family-loliware;

  h1,
  h2,
  h3,
  p {
    color: $loli-dark;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  p {
    width: 100%;
    line-height: 1.5rem;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-lg) {
      width: 65%;
    }
  }

  section {
    padding: 1rem;

    @media (min-width: $breakpoint-md) {
      padding: 3rem;
    }
  }

  &Intro {
    position: relative;
    overflow: hidden;

    div {
      button {
        border: 0 transparent;
        font-family: $font-family-loliware;
        background-color: $loli-yuzu;
        color: $loli-forest;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        margin-top: 1rem;
      }
    }

    img {
      position: absolute;
      top: -1rem;
      left: 0;
      width: auto;
      height: 700px;
      opacity: 0.05;

      @media (min-width: $breakpoint-md) {
        width: 90%;
        height: auto;
      }
    }
  }
}
