@use '../../../styles/variables' as *;

*:focus {
  outline: 1px solid $loli-lime !important;
  outline-offset: 2px;
}

.loliware {
  overflow: hidden;
  font-family: $font-family-loliware;

  h1,
  h2,
  h3,
  p {
    color: $loli-dark;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  p {
    width: 100%;
    line-height: 1.5rem;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-lg) {
      width: 65%;
    }
  }

  section {
    padding: 1rem;

    @media (min-width: $breakpoint-md) {
      padding: 3rem;
    }
  }

  &Process {
    &Web,
    &Brand {
      margin: 1rem 0 4rem;
    }

    .accordion {
      background-color: #fff;
      border-radius: 8px;

      &Item {
        position: relative;
        border: 0px transparent;
        border-bottom: 1px solid var(--loli-accent2);
        width: 100%;

        h3 {
          display: flex;
        }

        button {
          display: flex;
          flex: auto;
          border: 0px transparent;
          background-color: #fff;
        }
      }

      &Header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
        width: 100%;
        padding: 2rem 1rem 1rem 0;
        font-weight: bold;
        color: var(--loli-accent2);
        font-size: $font-size-lg;
        font-family: $font-family-loliware;
        flex-wrap: wrap;
        text-align: left;

        .rotate {
          transform: rotate(180deg);
        }

        &Icon {
          position: absolute;
          right: 0;
        }
      }

      &Content {
        margin: 0 1rem 2rem;
        font-size: 0.85rem;
        color: $loli-chocolate;

        @media (min-width: $breakpoint-md) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        img {
          width: 100%;
          padding: 1rem;
        }

        h4 {
          font-size: $font-size-base;
          margin-bottom: 0.5rem;
          margin-top: 2rem;
        }

        ul,
        ol {
          padding-inline-start: 1rem;

          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .loliwareBrandGallery {
      display: flex;
      overflow-x: auto;
    }
  }

  .fullWidth {
    display: block;
    width: 100vw;
    height: 150px;
    margin: 0;
    padding: 0;
    overflow: hidden;

    @media (min-width: $breakpoint-md) {
      min-height: 30rem;
    }

    img {
      width: 100%;
    }
  }
}
