@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Host+Grotesk:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-bg: #ffffff;
  --color-field-bg: #47424c;
  --color-bg-inv: #020004;
  --color-bg-secondary: #20003f;
  --color-text: #020004;
  --color-icon: #020004;
  --color-change: #dcdc00;
  --color-accent: #a1a100;
  --color-hover: #dad7dd;
  --color-hover-text: #f7f7f8;
}

.dark {
  --color-bg: #020004;
  --color-bg-inv: #f7f7f8;
  --color-field-bg: #47424c;
  --color-bg-secondary: #29262c;
  --color-text: #f7f7f8;
  --color-icon: #020004;
  --color-change: #a1a100;
  --color-accent: #a1a100;
  --color-hover: #645d6b;
  --color-hover-text: #f7f7f8;
}

.light {
  --color-bg: #ffffff;
  --color-field-bg: #f7f7f8;
  --color-bg-inv: #020004;
  --color-bg-secondary: #645d6b;
  --color-text: #020004;
  --color-icon: #f7f7f8;
  --color-change: #47424c;
  --color-accent: #dcdc00;
  --color-hover: #645d6b;
  --color-hover-text: #f7f7f8;
}

.gameHive {
  position: relative;
  font-family: "Host Grotesk", sans-serif;
  padding: 25px;
  color: var(--color-text);
  background-color: var(--color-bg);
}
@media (min-width: 768px) {
  .gameHive {
    padding: 50px;
  }
}
.gameHive :focus-visible,
.gameHive :focus {
  outline: 2px solid #8b18ff;
  outline-offset: 2px;
  border-radius: 15px;
}
.gameHiveHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .gameHiveHeader {
    flex-direction: row;
    gap: 20px;
  }
}
.gameHiveBrand {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .gameHiveBrand {
    margin-bottom: unset;
  }
}
.gameHiveBrand h2 {
  font-size: 2rem;
}
.gameHiveLogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.gameHiveSearch {
  position: relative;
  display: flex;
  flex: auto;
  align-items: center;
  background-color: var(--color-field-bg);
  padding: 0 20px;
  border-radius: 50px;
  width: 100%;
}
.gameHiveSearch svg {
  margin-right: 10px;
  fill: var(--color-text);
}
.gameHiveSearchInput {
  border: 0px transparent;
  background-color: transparent;
  height: 50px;
  flex-grow: 1;
  color: var(--color-text);
}
.gameHiveSearchInput::-moz-placeholder {
  color: var(--color-text);
}
.gameHiveSearchInput::placeholder {
  color: var(--color-text);
}
.gameHiveSearch .suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-field-bg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  list-style: none;
  padding: 30px;
  margin-top: 10px;
  border-radius: 50px;
}
.gameHiveSearch .suggestionsList .suggestionItem {
  color: #29262c;
  font-size: 1rem;
  cursor: pointer;
}
.gameHiveSearch .suggestionsList .suggestionItem:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .gameHiveBody {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
}
.gameHiveBody section {
  margin: 50px 0;
}
.gameHiveBody .genre .genreDropdown {
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 50px;
}
@media (min-width: 768px) {
  .gameHiveBody .genre {
    display: block;
    padding: 10px;
  }
  .gameHiveBody .genreList {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }
  .gameHiveBody .genreList h3 {
    color: var(--color-text);
  }
  .gameHiveBody .genreList:hover, .gameHiveBody .genreList.active {
    background-color: var(--color-hover);
    border-radius: 8px;
  }
  .gameHiveBody .genreList:hover h3, .gameHiveBody .genreList.active h3 {
    font-weight: 500;
    color: var(--color-hover-text);
  }
  .gameHiveBody .genreImage {
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .gameHiveBody .genreImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .gameHiveBody .genreTitle {
    font-weight: 400;
  }
}
.gameHiveBody .gameList {
  padding: 30px 0 0 0;
}
@media (min-width: 768px) {
  .gameHiveBody .gameList {
    padding: 10px;
  }
}
.gameHiveBody .gameList img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gameHiveBody .gameListTitle {
  color: var(--color-text);
  margin-bottom: 20px;
  font-size: 3rem;
}
.gameHiveBody .gameListCategory {
  color: var(--color-text);
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.gameHiveBody .banner {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.gameHiveBody .banner .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5%;
  background-image: linear-gradient(rgba(16, 13, 0, 0), rgb(16, 13, 0));
}
.gameHiveBody .banner .overlayTitle {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.gameHiveBody .banner .overlayButton {
  border: 0px transparent;
  padding: 10px;
  background-color: #dcdc00;
  color: #020004;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}
.gameHiveBody .bannerImage {
  height: 220px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .gameHiveBody .bannerImage {
    height: 320px;
  }
}
.gameHiveBody .bannerImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gameHiveBody .trending {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .gameHiveBody .trending {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gameHiveBody .trendingCard {
  background-color: var(--color-accent);
  border-radius: 16px;
}
@media (min-width: 1024px) {
  .gameHiveBody .trendingCard {
    transition: transform 0.3s ease;
  }
  .gameHiveBody .trendingCard:hover {
    transform: scale(1.1);
  }
}
.gameHiveBody .trendingCard .skeletonImage {
  width: 100%;
  min-height: 200px;
  background: #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  animation: pulse 1.5s infinite;
}
.gameHiveBody .trendingCard .skeletonTitle {
  width: 70%;
  height: 20px;
  background: var(--color-text);
  border-radius: 4px;
  margin: 0.5rem;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.7;
  }
}
.gameHiveBody .trendingImage {
  height: 180px;
  width: auto;
}
@media (min-width: 768px) {
  .gameHiveBody .trendingImage {
    height: 200px;
  }
}
.gameHiveBody .trendingTitle {
  padding: 10px;
  color: #020004;
  font-weight: 400;
  line-height: 1.5rem;
}
.gameHiveBody .popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .gameHiveBody .popular {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .gameHiveBody .popular {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gameHiveBody .popularCard {
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  padding: 10px;
}
@media (min-width: 1024px) {
  .gameHiveBody .popularCard {
    transition: transform 0.3s ease;
  }
  .gameHiveBody .popularCard:hover {
    transform: scale(1.1);
  }
}
.gameHiveBody .popularCard .skeletonImage {
  width: 100%;
  height: 180px;
  background: #ccc;
  border-radius: 8px;
}
.gameHiveBody .popularCard .skeletonTitle {
  width: 80%;
  height: 20px;
  margin-top: 8px;
  background: #ddd;
  border-radius: 4px;
}
.gameHiveBody .popularCard .skeletonIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: #ddd;
  border-radius: 50%;
}
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.7;
  }
}
.gameHiveBody .popularImage img {
  border-radius: 8px;
  margin-bottom: 10px;
  height: 150px;
}
@media (min-width: 768px) {
  .gameHiveBody .popularImage img {
    height: 120px;
  }
}
.gameHiveBody .popularInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: flex;
  gap: 10px;
}
.gameHiveBody .popularInfoTitle,
.gameHiveBody .popularInfo span {
  color: #f7f7f8;
}
.gameHiveBody .popularInfoTitle {
  min-height: 67px;
  line-height: 1.5rem;
}
.gameHiveBody .popularMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.gameHiveBody .popularMeta span {
  display: flex;
  align-items: flex-start;
}
.gameHiveBody .popularMeta span svg {
  fill: #f7f7f8;
  margin-right: 10px;
}
.gameHiveBody .popularPlatform {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.gameHiveBody .popularPlatform span {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.colorMode {
  background-color: var(--color-change);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  padding: 15px 17px;
  width: 50px;
  position: fixed;
  z-index: 15;
  bottom: 1em;
  right: 1em;
}
.colorMode .lightMode,
.colorMode .darkMode {
  color: var(--color-icon);
}/*# sourceMappingURL=GameHive.module.css.map */