@use '../../styles/variables' as *;

// Color Mode Mixins
:root {
  --color-bg: #ffffff;
  --color-sub-bg: #47424c;
  --color-text: #020004;
  --color-icon: #020004;
  --color-accent: #dcdc00;
  --color-hover: #dad7dd;
}

.dark {
  --color-bg: #020004;
  --color-sub-bg: #47424c;
  --color-text: #f7f7f8;
  --color-icon: #020004;
  --color-accent: #dcdc00;
  --color-hover: #645d6b;
}

.light {
  --color-bg: #ffffff;
  --color-sub-bg: #f7f7f8;
  --color-text: #020004;
  --color-icon: #f7f7f8;
  --color-accent: #47424c;
  --color-hover: #dad7dd;
}

// Game Hive Code
.gameHive {
  font-family: $font-family-gamehive;
  padding: 50px;
  color: var(--color-text);
  background-color: var(--color-bg);

  &Header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &Logo {
    width: 70px;
    height: auto;
    padding: 10px;
    border-radius: 100%;
  }

  &Search {
    display: flex;
    flex: auto;
    align-items: center;
    background-color: var(--color-sub-bg);
    padding: 0 20px;
    border-radius: 50px;

    svg {
      margin-right: 10px;
      fill: var(--color-text);
    }

    &Input {
      border: 0px transparent;
      background-color: transparent;
      height: 50px;
      flex-grow: 1;
      color: var(--color-text);

      &::placeholder {
        color: var(--color-text);
      }
    }
  }

  &Body {
    @media (min-width: $breakpoint-md) {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 10px;
    }

    section {
      margin: 50px 0;
    }

    .genre {
      display: none;

      @media (min-width: $breakpoint-md) {
        display: block;
        padding: 10px;

        &List {
          display: flex;
          gap: 10px;
          align-items: center;
          margin: 10px 0;
          padding: 10px;
          cursor: pointer;

          h3 {
            color: var(--color-text);
          }

          &:hover,
          &.active {
            background-color: var(--color-hover);
            border-radius: $radius-md;

            h3 {
              font-weight: $font-weight-semibold;
            }
          }
        }

        &Image {
          height: 30px;
          width: 30px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: $radius-md;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
          }
        }

        &Title {
          font-weight: $font-weight-regular;
        }
      }
    }

    .gameList {
      padding: 10px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &Title {
        color: var(--color-text);
        margin-bottom: 20px;
        font-size: 3rem;
      }

      &Category {
        color: var(--color-text);
        margin-bottom: 20px;
      }
    }

    .banner {
      position: relative;
      border-radius: $radius-lg;
      overflow: hidden;

      .overlay {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 5%;
        background-image: linear-gradient(
          rgba(16, 13, 0, 0),
          rgba(16, 13, 0, 1)
        );

        &Title {
          color: $color-neutral-100;
          font-size: $font-size-xl;
          margin-bottom: 10px;
        }

        &Button {
          border: 0px transparent;
          padding: 10px;
          background-color: #dcdc00;
          color: #020004;
          border-radius: $radius-sm;
          font-weight: $font-weight-semibold;
          cursor: pointer;
        }
      }

      &Image {
        height: 320px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .trending {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      cursor: pointer;

      @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(4, 1fr);
      }

      &Card {
        border-radius: $radius-lg;
        overflow: hidden;
        background-color: #dcdc00;

        @media (min-width: $breakpoint-lg) {
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      &Image {
        height: 200px;
        width: auto;
      }

      &Title {
        padding: 10px;
        color: #020004;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
      }
    }

    .popular {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      cursor: pointer;

      @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      &Card {
        background-color: #645d6b;
        border-radius: $radius-md;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &List {
        svg {
          fill: #f7f7f8;
          margin-right: 10px;
        }
      }

      &Image img {
        border-radius: $radius-md;
        height: 220px;

        @media (min-width: $breakpoint-md) {
          height: 120px;
        }
      }

      &Title,
      span {
        color: #f7f7f8;
      }

      &Title {
        min-height: 45px;
      }

      &Info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
    }
  }
}

.colorMode {
  background-color: var(--color-accent);
  border-radius: 100%;
  padding: 15px 17px;

  .lightMode,
  .darkMode {
    color: var(--color-icon);
  }
}
