@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Host+Grotesk:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-bg: #ffffff;
  --color-sub-bg: #47424c;
  --color-text: #020004;
  --color-icon: #020004;
  --color-accent: #dcdc00;
  --color-hover: #dad7dd;
}

.dark {
  --color-bg: #020004;
  --color-sub-bg: #47424c;
  --color-text: #f7f7f8;
  --color-icon: #020004;
  --color-accent: #dcdc00;
  --color-hover: #645d6b;
}

.light {
  --color-bg: #ffffff;
  --color-sub-bg: #dcdc00;
  --color-text: #020004;
  --color-icon: #f7f7f8;
  --color-accent: #47424c;
  --color-hover: #dad7dd;
}

.gameHive {
  font-family: "Host Grotesk", sans-serif;
  padding: 50px;
  color: var(--color-text);
  background-color: var(--color-bg);
}
.gameHiveHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gameHiveLogo {
  width: 60px;
  height: auto;
  padding: 10px;
  border-radius: 100%;
}
.gameHiveSearch {
  display: flex;
  flex: auto;
  align-items: center;
  background-color: var(--color-sub-bg);
  padding: 0 20px;
  border-radius: 50px;
}
.gameHiveSearchIcon {
  margin-right: 10px;
  color: var(--color-text);
}
.gameHiveSearchInput {
  border: 0px transparent;
  background-color: transparent;
  height: 50px;
  flex-grow: 1;
  color: var(--color-text);
}
.gameHiveSearchInput::-moz-placeholder {
  color: var(--color-text);
}
.gameHiveSearchInput::placeholder {
  color: var(--color-text);
}
@media (min-width: 768px) {
  .gameHiveBody {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
}
.gameHiveBody section {
  margin: 50px 0;
}
.gameHiveBody .genre {
  display: none;
}
@media (min-width: 768px) {
  .gameHiveBody .genre {
    display: block;
    padding: 10px;
  }
  .gameHiveBody .genreList {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }
  .gameHiveBody .genreList:hover, .gameHiveBody .genreList.active {
    background-color: var(--color-hover);
    border-radius: 8px;
  }
  .gameHiveBody .genreList:hover h3, .gameHiveBody .genreList.active h3 {
    font-weight: 500;
  }
  .gameHiveBody .genreImage {
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .gameHiveBody .genreImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .gameHiveBody .genreTitle {
    font-weight: 400;
  }
}
.gameHiveBody .gameList {
  padding: 10px;
}
.gameHiveBody .gameList img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gameHiveBody .gameListTitle {
  color: var(--color-text);
  margin-bottom: 20px;
  font-size: 3rem;
}
.gameHiveBody .gameListCategory {
  color: var(--color-text);
  margin-bottom: 20px;
}
.gameHiveBody .banner {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.gameHiveBody .banner .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5%;
  background-image: linear-gradient(rgba(16, 13, 0, 0), rgb(16, 13, 0));
}
.gameHiveBody .banner .overlayTitle {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.gameHiveBody .banner .overlayButton {
  border: 0px transparent;
  padding: 10px;
  background-color: #dcdc00;
  color: #020004;
  border-radius: 4px;
}
.gameHiveBody .bannerImage {
  height: 320px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameHiveBody .bannerImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gameHiveBody .trending {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .gameHiveBody .trending {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .gameHiveBody .trending {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gameHiveBody .trendingCard {
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-hover);
}
@media (min-width: 1024px) {
  .gameHiveBody .trendingCard {
    transition: transform 0.3s ease;
  }
  .gameHiveBody .trendingCard:hover {
    transform: scale(1.1);
  }
}
.gameHiveBody .trendingImage {
  height: 200px;
  width: auto;
}
.gameHiveBody .trendingTitle {
  padding: 10px;
  color: var(--color-text);
  font-weight: 400;
  font-size: 1rem;
}
.gameHiveBody .popular {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .gameHiveBody .popular {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .gameHiveBody .popular {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gameHiveBody .popularCard {
  background-color: var(--color-hover);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.gameHiveBody .popularList svg {
  fill: var(--color-text);
  margin-right: 10px;
}
.gameHiveBody .popularImage img {
  border-radius: 8px;
  height: 120px;
}
.gameHiveBody .popularTitle,
.gameHiveBody .popular span {
  color: var(--color-text);
}
.gameHiveBody .popularTitle {
  min-height: 45px;
}
.gameHiveBody .popularInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.colorMode {
  background-color: var(--color-accent);
  border-radius: 100%;
  padding: 15px 17px;
}
.colorMode .lightMode,
.colorMode .darkMode {
  color: var(--color-icon);
}/*# sourceMappingURL=GameHive.module.css.map */