@use '../../../styles/variables' as *;

* .coo {
  font-family: $font-family-coo;
  position: relative;
  overflow: hidden;

  a:focus,
  button:focus {
    outline: 2px solid $coo-accent;
    outline-offset: 2px;
  }

  h1,
  h2,
  h3,
  p {
    color: $coo-dark;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-md) {
      max-width: 75%;
    }
  }

  section {
    padding: 1rem;

    @media (min-width: $breakpoint-md) {
      padding: 3rem;
    }
  }

  &Logo {
    position: absolute;
    width: 250px;
    top: 12rem;
    left: 1rem;
    filter: brightness(0) invert(1);

    @media (min-width: $breakpoint-md) {
      top: 3rem;
      left: 3rem;
    }
  }

  &Header {
    background-color: $coo-dark;
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;

    .cooHero {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      display: flex;
      justify-self: end;

      @media (min-width: $breakpoint-md) {
        width: 70%;
      }
    }
  }

  &ShapedDrk {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    background-color: $coo-dark;

    @media (min-width: $breakpoint-md) {
      clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5%;
    }
  }

  &Intro {
    padding-bottom: 3rem;

    @media (min-width: $breakpoint-md) {
      padding-bottom: unset;
    }

    h2,
    p {
      color: $coo-light;
    }
  }

  &Brand {
    h2 {
      margin-bottom: 2rem;
    }

    &Type {
      margin-bottom: 3rem;

      @media (min-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      div {
        align-content: end;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }

    &Color {
      position: relative;
      padding: 0;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: -2rem;
        right: -3rem;
        bottom: 0;
        left: -3rem;
        background: url('../../assets/images/coo/coo_map-background.jpg')
          no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
      }

      @media (min-width: $breakpoint-md) {
        .colorSlant {
          position: absolute;
          top: 1em;
        }
      }

      img {
        width: calc(100% + 2rem);
        margin: 0 0 0 -1rem;

        @media (min-width: $breakpoint-md) {
          width: calc(100% + 6rem);
          margin: 0 0 0 -3rem;
        }
      }
    }

    &Icons {
      background-color: $coo-dark;
      padding: 3rem;
      margin-right: -3rem;
      margin-left: -3rem;

      h3,
      p {
        color: $coo-light;
      }

      .cooIcons {
        margin-top: 1rem;

        @media (min-width: $breakpoint-md) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  &App {
    h2 {
      margin-bottom: 2rem;
    }

    .largeBanner {
      width: calc(100% + 2rem);
      margin: 1rem -1rem 2rem -1rem;

      @media (min-width: $breakpoint-md) {
        width: calc(100% + 6rem);
        margin: 1rem -3rem 2rem -3rem;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 1rem -3rem 2rem -3rem;
      }
    }

    &Design {
      margin-bottom: 2rem;

      @media (min-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      img {
        width: 100%;
        margin-top: 2rem;
      }

      h2 {
        margin-bottom: 1rem;
      }

      .shakeIt {
        position: relative;

        &Timer {
          width: 180px;
          height: auto;
          position: absolute;
          z-index: 1;
          right: 2rem;
          bottom: 0;
        }
      }
    }

    &Details {
      @media (min-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    &Full {
      img {
        width: 100%;
      }
    }
  }

  .fullWidth:first-of-type {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
      width: 100vw;
      margin: 2rem -3rem;
      overflow: hidden;
      height: auto;
    }
  }

  .fullWidth {
    display: block;
    width: 100vw;
    margin: 2rem -1rem;
    overflow: hidden;
    height: auto;

    @media (min-width: $breakpoint-md) {
      margin: 2rem -3rem;
    }
  }
}
