@use '../../../styles/variables' as *;

* .coo {
  font-family: $font-family-coo;
  position: relative;
  overflow: hidden;

  a:focus,
  button:focus {
    outline: 2px solid $coo-accent;
    outline-offset: 2px;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-md) {
      max-width: 75%;
    }
  }

  section {
    padding: 1rem;

    @media (min-width: $breakpoint-md) {
      padding: 3rem;
    }
  }

  &Prototype {
    padding-bottom: 3rem;

    @media (min-width: $breakpoint-md) {
      padding-bottom: unset;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
    }

    img {
      width: 100%;
    }
  }

  &Test {
    padding-bottom: 3rem;

    ul {
      margin-block-start: 0.5em;
      margin-block-end: 0;
      padding-inline-start: 2rem;
    }

    &Result {
      @media (min-width: $breakpoint-md) {
        padding-bottom: unset;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5%;
        align-items: center;
      }

      img {
        width: 100%;
      }
    }
  }

  &Process {
    padding-bottom: 3rem;

    h3 {
      margin-top: 3rem;
    }
  }

  .fullWidth {
    display: block;
    width: 100vw;
    margin: 2rem -1rem;
    overflow: hidden;
    height: auto;

    @media (min-width: $breakpoint-md) {
      margin: 2rem -3rem;
    }
  }
}
