@use '../../styles/variables' as *;

.home {
  position: relative;
  min-height: 80vh;
  padding: 100px 0 0;
  color: $color-accent-light;
  background-color: $color-primary;
  background-image: linear-gradient(rgba(16, 13, 0, 0.7), rgba(16, 13, 0, 1)),
    url('../../assets/images/wallhaven-bg.jpg');
  background-size: cover;
  background-position: center;

  @media (min-width: $breakpoint-lg) {
    padding: 50px;
  }

  &Wrapper {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $breakpoint-lg) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 20px 0 0;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-lg) {
      justify-content: flex-end;
      width: 50%;
      text-align: right;
      margin-bottom: unset;
    }

    &Small {
      font-size: $font-size-base;
      margin-left: 15px;
      text-transform: uppercase;

      @media (min-width: $breakpoint-lg) {
        font-size: $font-size-lg;
      }
    }

    &Large {
      font-family: $font-family-title;
      font-weight: 100;
      font-size: 35vw;
      line-height: 1;
      white-space: nowrap;
      will-change: transform;
      margin-block-start: 0;
      margin-block-end: 0;

      @media (min-width: $breakpoint-md) {
        font-size: 30vw;
      }

      @media (min-width: $breakpoint-lg) {
        font-size: 18vw;
      }
    }
  }

  .content {
    margin: 20px;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: $font-weight-light;

    @media (min-width: $breakpoint-md) {
      width: 75%;
    }

    @media (min-width: $breakpoint-lg) {
      width: 30%;
      margin-left: 20px;
      font-size: 1.15rem;
      line-height: 2.25rem;
    }
  }
}
