@use '../../../styles/variables' as *;

.footer {
  font-family: $font-family-secondary;
  background-color: $color-primary;
  padding: 20px 0 0;
  margin-top: auto;
  width: 100%;
  justify-items: center;
  bottom: 0;

  &Logo {
    width: 50px;
    height: 50px;
  }

  &List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-lg;
    color: $color-accent-light;
    font-weight: $font-weight-regular;

    @media (min-width: $breakpoint-md) {
      flex-wrap: unset;
    }

    li {
      list-style: none;
      width: 45%;
      text-align: center;

      @media (min-width: $breakpoint-md) {
        min-width: 120px;
        text-align: center;
      }

      a {
        text-decoration: none;
        color: $color-accent-light;

        @media (min-width: $breakpoint-lg) {
          &:hover {
            color: $color-accent;
          }
        }
      }

      &:last-child a {
        color: $color-accent-two;

        &:hover {
          color: $color-accent-two;
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  &Social {
    display: flex;
    margin: $spacing-xxl;
    gap: $spacing-lg;

    svg {
      cursor: pointer;
      fill: $color-accent-light;
      font-size: 1.5em;

      &:hover {
        fill: $color-accent;
      }
    }
  }

  &Copyright {
    background-color: $color-background-medium;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    gap: 5px;
    font-size: 12px;
    color: $color-accent-light;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.activeLink {
  font-weight: $font-weight-bold;
}
