@use '../../styles/variables' as *;

.header {
  background-color: $color-primary;
  height: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  @media (min-width: $breakpoint-lg) {
    padding: 10px 30px;
  }

  &Link {
    display: flex;
    text-decoration: none;
  }

  &Logo {
    width: 40px;
    height: 40px;
    margin-right: $spacing-sm;
  }

  h1 {
    color: $color-accent-light;
    font-weight: $font-weight-light2;
    font-size: $font-size-base;
  }

  .desktopNav {
    display: none;

    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }
}
