@use '../../styles/variables' as *;

.loliware {
  overflow: hidden;
  font-family: $font-family-loliware;

  a:focus,
  button:focus {
    outline: 2px solid $loli-yuzu;
    outline-offset: 2px;
  }

  h1,
  h2,
  h3,
  p {
    color: $loli-dark;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  section {
    padding: 1rem;

    @media (min-width: $breakpoint-md) {
      padding: 3rem;
    }
  }

  &Intro {
    position: relative;
    overflow: hidden;

    div {
      margin: 1.5rem;

      @media (min-width: $breakpoint-md) {
        margin: 5rem 5rem 0 5rem;
      }

      button {
        border: 0 transparent;
        background-color: $loli-yuzu;
        color: $loli-forest;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        margin-top: 1rem;
      }
    }

    img {
      position: absolute;
      top: -1rem;
      left: 0;
      width: auto;
      height: 700px;
      opacity: 0.05;

      @media (min-width: $breakpoint-md) {
        width: 90%;
        height: auto;
      }
    }
  }

  &Brand {
    .loliLogos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      gap: 2rem;

      @media (min-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      img {
        &:nth-child(1) {
          width: auto;
          height: 100px;
        }

        &:nth-child(2) {
          width: 250px;
          height: auto;
        }

        &:nth-child(3) {
          width: 300px;
          height: auto;
        }
      }
    }

    &Mock {
      width: 100%;
      margin-bottom: 2rem;
    }

    &Example {
      margin-bottom: 2rem;

      button {
        border: 0 transparent;
        background-color: $loli-lime;
        color: $loli-forest;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        margin-top: 1rem;
      }
    }
  }

  &Web {
    background: linear-gradient(135deg, $loli-accent2, $loli-accent);

    h2,
    h3,
    p {
      color: $loli-light;
    }

    &Mock {
      width: 100%;
      margin-bottom: 2rem;
    }

    &Example {
      margin-bottom: 2rem;

      button {
        border: 0 transparent;
        background-color: $loli-lime;
        color: $loli-forest;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        margin-top: 1rem;
      }
    }
  }

  .fullWidth {
    display: block;
    width: 100vw;
    margin: 0 -1rem 2rem;
    overflow: hidden;
    height: auto;

    @media (min-width: $breakpoint-md) {
      margin: 2rem -3rem;
    }
  }
}

.loliware {
  &Site {
    font-family: $font-family-loliware;
    color: $loli-dark;
  }

  &Nav {
    margin: 2rem;

    .navControls {
      display: flex;
      justify-content: space-between;
    }

    button {
      font-family: $font-family-loliware;
      font-weight: $font-weight-bold;
      border: 0 transparent;
      background-color: transparent;
      font-size: $font-size-lg;
      color: $loli-dark;

      span {
        margin: 0 1rem;
      }
    }
  }

  &Head {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30rem;

    &Img {
      height: 600px;
      position: absolute;
      top: 2rem;
      z-index: 2;
      opacity: 0.95;
    }

    h2 {
      position: absolute;
      z-index: 1;
      color: $loli-light;
      font-size: 15rem;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &Product {
    margin: 5rem 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;

    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &Title {
        font-size: $font-size-xxl;
      }

      &Description {
        font-size: $font-size-lg;
      }

      &Ingredients {
        font-size: $font-size-sm;
      }
    }
    .cartSection {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: end;

      .sizeButtons {
        display: flex;
        gap: 1rem;

        button {
          border: 0 transparent;
          background-color: $loli-lime;
          border-radius: 10rem;
          font-size: $font-size-lg;
          padding: 0.5rem;
        }
      }

      .quantityInput {
        input {
          width: auto;
        }
      }
    }
  }

  &Recipe {
    margin: 5rem 2rem;
  }
}
