@use '../../../styles/variables' as *;

header {
  font-family: $font-family-gamehive;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: $gamehive-dark;
  color: $gamehive-light;

  @media (min-width: $breakpoint-md) {
  }
}

.gameHive {
  &Brand {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media (min-width: $breakpoint-md) {
      margin-bottom: unset;
    }

    h2 {
      font-size: 2rem;
    }
  }

  &Logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
}

.headerList {
  font-family: $font-family-secondary;
  display: flex;
  gap: $spacing-lg;
  padding-inline-start: 0;
  padding-block-start: $spacing-sm;
  padding-block-end: $spacing-sm;

  @media (min-width: $breakpoint-md) {
    display: block;
    display: flex;

    color: $gamehive-accent;
    font-weight: $font-weight-regular;
  }

  li {
    list-style: none;
    margin: $spacing-lg 0;

    a {
      text-decoration: none;
      color: $gamehive-accent;

      @media (min-width: $breakpoint-lg) {
        &:hover {
          color: $gamehive-accent2;
        }
      }
    }

    &:last-child {
      a {
        color: $gamehive-gray;
      }
      &::before {
        content: '\279C';
        color: $gamehive-gray;
        display: inline-block;
        transform: rotate(180deg);
        margin-right: $spacing-xs;
      }
    }
  }
}
