@import '../../styles/variables';

.headerList {
  display: block;

  @media (min-width: $breakpoint-lg) {
    display: flex;
    gap: $spacing-lg;
    color: $color-accent-light;
    font-weight: $font-weight-regular;
  }

  li {
    list-style: none;

    @media (min-width: $breakpoint-lg) {
      cursor: pointer;

      &:hover {
        color: $color-accent;
      }
    }
  }
}
